
@{
    ViewBag.Title = "AdminReports";
    Layout = "~/Views/Shared/_Admin.cshtml";
}


<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Reports</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">

                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <form role="form">

                                    <button type="button" class="btn btn-primary">Time Table</button>
                                    <br>
                                    <br>
                                    <button type="button" class="btn btn-primary">Date Sheet</button>
                                    <br>
                                    <br>
                                   
                                    
                                    <button type="button" class="btn btn-primary">Students Report</button>
                                    <br>
                                    <br>
                                    <button type="button" class="btn btn-primary">Course Wise Employees</button>
                                    <br>
                                    <br>
                                    <button type="button" class="btn btn-primary">Attendence</button>
                                    <br>
                                    <br>
                                    <button type="button" class="btn btn-primary">Monthly Salary</button>
                                    <br>
                                    <br>
                                    <button type="button" class="btn btn-primary">Scholarship Reports</button>
                                    <br>
                              


                                </form>
                            </div>
                            <!-- /.col-lg-6 (nested) -->
                            <!-- /.col-lg-6 (nested) -->
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
