
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Home.cshtml";
}

<body>
    <div class="header-wrapper">


        <div class="header" style="background-image: url('/Content/pages/book.jpeg');width:100%;height:750px;">
            <h1 style="color:white;font-size:50px;margin-left:130px;margin-top:5px;padding:150px;"><i><b>LEARNING MANAGEMENT SYSTEM</b></i></h1>



            <center><a href="/Admin/Login" class="button">Login</a></center>
            <br />
           
            <!----<div class="dropdown">
                  <center><button class="dropbtn">Register</button></center>
                  <div class="dropdown-content">
                      <a href="/StuRegister/Index">Student</a>
                      <a href="/EmpRegister/empRegister">Employee</a>
                  </div>

              </div>-->
            <br>
            <div class="container">

                <div class="top-right">
                    <h4><center>ABOUT US</center></h4>
                    <p>
                        <i>
                            University OF Engineering <br>
                            And Technology To play<br>
                            a  leading role as a<br>
                            University of Engineering <br>
                            and Technology in teaching,<br>
                            research, innovation and <br>
                            commercialization that is <br>
                            internationally relevant and<br>
                            has a direct bearing on <br>
                            national industrial,<br>
                            technological and <br>
                            socio-economic <br>
                            development.<br>
                            <br>
                            <br>
                            0313-5784929<br>
                            uet@edu.pk<br>
                            <br>
                            <br>
                        </i>
                    </p>

                </div>
            </div>



        </div>

</body>



